body {
  background-color: rgb(91, 92, 105);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  text-align: center;
}
h1 {
  color: whitesmoke;
}
h2 {
  font-style: italic;
}
.mojefoto {
  border-radius: 50%;
  height: 300px;
}
.kontejner {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
